#homeButtons{
    text-align : right;
    padding: 10px 20px 0 0;
}
body{
    background-image : url('background.jpg');
}
.back{
    background-color : rgba(250,250,250,0.9);
    margin : 10px 50px 50px 50px;
    padding: 20px;
    overflow: auto;
    border-radius: 20px;
}
h1{
    padding:20px 0;
    font-family: cursive;
    text-align : center;
    color: #7F7F7F;
    font-weight: bolder;
}
img{
    width: 90%;

}

.images{
    text-align: center;

}
.names{

    text-align: center;
    color: #7F7F7F;
    text-shadow: 1px 0 0  #C9D4D6, -1px 0 0  #C9D4D6, 0 1px 0  #C9D4D6, 0 -1px 0  #C9D4D6, 1px 1px 0  #C9D4D6, -1px 1px 0  #C9D4D6;
    font: bold x-large cursive;
}
.left{
    float: left;
    width: 33.33%;
}
.r{
    float: right;
    width: 33.33%;
}

h2{
    color: #EB9769;
    font-family: cursive;
}
li{
    font: bold x-large arial;
    padding: 5px;
}
.rr{
    float: right;
    width: 40%;
    height: 45%;

}

.ll{
    float: left;
    width: 60%;
    height: 45%;
    color: #7F7F7F;

}
.lll{
    float: left;
    width: 58%;


}
.rrr{
    float: right;
    width: 42%;

}
.none{
    float: none;
    width: 100%;
}
h3{
    color: #8F8F8F;
    text-shadow: 1px 0 0  #C9D4CF, -1px 0 0  #C9D4CF, 0 1px 0  #C9D4CF, 0 -1px 0  #C9D4CF, 1px 1px 0  #C9D4CF, -1px 1px 0  #C9D4CF;
    font-family: cursive;
}
.kitten{
    color: #EB9769;
}
.child{
    color: #7F7F7F;
}
.food{
    color: #7F7F7F;
    float: left;
    width: 58%;
}
h5{
    color: #000;
    font: bold large cursive;
}
.name{
    text-align: left;
    padding: 10px 0 0 0;
}
body
{
  font-family: "Open Sans";
}
#wrapper
{
  border: 1px solid #888;
  display: inline-block;
  padding:20px 20px 0 20px;
  color: #7F7F7F;
  margin:10% 25% 25% 40%;
  text-align: center;
  background-color:rgba(250,250,250,0.95);
  font: bold x-large cursive;
  position: fixed;
  border-radius:15px;
}
#wrapper2
{
  border: 1px solid #888;
  display: inline-block;
  padding:20px 20px 0 20px;
  color: #7F7F7F;
  margin:10% 25% 25% 30%;
  text-align: center;
  background-color:rgba(250,250,250,0.95);
  font: bold x-large cursive;
  position: fixed;
  border-radius:15px;
}
h4{
    font: bold x-large cursive;
    color: #000;
}
.half{
    margin: 15px 0 0 0;
    float: left;
    width: 50%;
    text-align:center;
    height:70%;
}
p{
   font: bold large cursive;
   color: #7F7F7F;
}
button{
    font-family: cursive;
}